<div ng-controller="ChatCtrl as chat">
    {{chat.hello}}
    {{chat.Messages}}
     <style type="text/css">
        md-virtual-repeat-container {
  position: relative;
  display: block;
  width: 100%;
  height: 15vh;
  border: solid 1px #ccc;
  padding: 10px;
}
    </style>
  <md-content layout="column">
      <md-virtual-repeat-container id="vertical-container">
      <div md-virtual-repeat="item in chat.Messages"
          class="repeated-item" flex>
        {{item}}
      </div>
    </md-virtual-repeat-container></md-content>
</div>