<!DOCTYPE html>
<html lang="ru">
<head>
 
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Title Page</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" type="text/css" />
    <link rel="stylesheet" href="style/main.css">
</head>    
<body>
    
<body ng-app="app" >
    <div id="main" ng-controller="MainCtrl">
        <md-toolbar>
            <div class="md-toolbar-tools">
                  
            <md-button class="tab-btn " ng-click="changeTab(0)">Курсы</md-button>
       <md-button class="tab-btn" ng-click="changeTab(1)">Чат</md-button>
       
                <!-- fill up the space between left and right area -->
                <span flex></span>
               <md-button class="tab-btn" ng-click="changeTab(2)">Личный кабинет</md-button>
               <md-button class="tab-btn">Выход</md-button>
       
       
            </div>
        </md-toolbar>

        <div class="tab-container">
            <md-tabs md-selected="selectedTab" md-no-ink-bar>
                <md-tab>
                    <md-tab-body ><my-tabcontent type="lect"></my-tabcontent></my-tab></md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-body><my-tabcontent type="chat"></my-tabcontent></md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-body><my-tabcontent type="acc"></my-tabcontent> </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
      

    </div>
        <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>
    
     <script src="/js/app.js"></script>
    <script src="/js/controllers/mainapp.js"></script>
    <script src="/js/controllers/chatCtrl.js"></script>
</body>
</html>